<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Showdown</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/slate/bootstrap.min.css">
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <form action="/movie" class="form-horizontal movie-form">
        <div class="form-group">
          <div class="col-xs-4">
            <h4>Step 1. Find a movie.</h4>
          </div>
          <div class="col-xs-8">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter a movie, e.g. Wayne's World">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">Find This Movie!</button>
              </span>
            </div> 
          </div>
        </div> 
      </form>
    </div>
  </div>
</body>
</html> 